.customButton{
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    outline: none;
    border-style: solid;
    border-radius: 40px;

    min-width: 150px;
    padding: 10px;

    cursor: pointer;

    transition: 0.5s;
}

.customButton:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #070a11;
}