.title {
  color: #ffffff;
  font-size: 38px;
}

.text-blue {
  color: #22d3ee;
}
.avatar-mobile{
  display: none;
  visibility: hidden;
}
.hero {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar{
  height: 14rem;
  width: 14rem;
  border: 2px solid var(--secondary-color);
}
.description {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  width: 80%;
}

.image-hero {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.actions-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.actions-container a {
  color: #fff;
  transition: 0.2s;
}

.actions-container a:hover {
  color: var(--secondary-color);
}

@media (max-width: 1250px) {
  /* … */
  .hero {
    height: 90vh;
  }
  .actions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hero-body {
    flex-direction: column;
    gap: 20px;
  }
  .app-container {
    width: 90%;
  }
  .title {
    text-align: center;
  }
  .description {
    text-align: center;
    width: 100%;
  }
  .avatar-mobile{
    display: block;
    visibility: visible;
    height: 150px;
    width: 150px;
    border: 2px solid var(--secondary-color);
  }
  .avatar{
    visibility: hidden;
    display: none;
  }
}
