.container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}
.icon-container {
  position: relative;
  color: var(--secondary-color);
}
.icon-blur {
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  background-color: #22d3ee60;
  filter: blur(25px);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
