section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #00000060;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  gap: 16px;

}

.skills-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.icon-container {
  color: #fff;
}

@media (max-width: 1250px) {
  /* … */
  .card {
    width: 100%;
  }
}
