section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.icon-container {
  color: #fff;
}

@media (max-width: 1250px) {
  /* … */
  .card {
    width: 100%;
  }
}
