section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
  grid-template-rows: repeat(3, auto); /* Crea 3 filas de 100px de altura cada una */
  gap: 10px; /* Espacio entre las celdas */
  width: 100%;
}

.icon-container {
  color: #fff;
}

@media (max-width: 1250px) {
  /* … */
  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
