.toggleButton{
    background-color: transparent;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    outline: none;
    border-style: solid;

    width: 50px;;
    padding: 5px;

    cursor: pointer;

    transition: 0.5s;
}

.toggleButton-active{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #070a11;
}