.card {
  background-color: #1118275d;
  border-radius: 10px;
    position: relative;
  padding: 2rem;
  color: #fff;
  gap: 16px;
  backdrop-filter: blur(100px);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #494949;
  overflow: hidden;
  cursor: default;
}

.pointer-card {
    background-color: #22d3ee;
    filter: blur(50px);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: -1;
}
@media (max-width: 1250px) {
    .card{
        padding: 1rem;
    }
}  