.title-job{
    font-size: 26px;
    color: var(--secondary-color);
    margin: 0;
}
.experiences-container{
    width: 100%;
    margin-bottom: 100px;
}
.experience-header{
    justify-content: space-between;
}
.subtitle{
    font-size: 14px;
    color: #ccc;
}
.company{
    font-size: 16 ;
    color: #ccc;
}
.resume{
    font-size: 16 ;
    margin-bottom:  2rem;
}

.experience-link{
    color: var(--secondary-color);
}

@media (max-width: 1250px) {
    /* … */
    .experiences-container{
        width: 100%;
    }
    .experience-header{
        display: flex;
        flex-direction: column;
    }
    .line{
       display: none;
       visibility: hidden;
    }
    .title-job{
        font-size: 22px !important;
    }
    .subtitle{
        font-size: 14px !important;
    }
    .company{
        font-size: 14px !important;
    }
    .resume{
        font-size: 16px !important;
    }
  }
