.App{
  padding-top: 1rem;
  min-height: 100%;
}
.app-container{
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.header-container{
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.header-links-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links-container a {
  color: #22d3ee;
  text-decoration: none;
}

.social-icons-container{
  display: flex;
  gap: 10px;
}

.bold{
  font-weight: 700;
}

footer{
  margin-top: 50px;
  height: 100px;
  background-color: #090d14;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-body{
  width: 40%;
}

@media (max-width: 1250px) {
  /* … */
  .app-container{
    width: 90%;
  }
  .footer-body{
    width: 90%;
  }
}