body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --secondary-color: #22d3ee;
  --primary-color: #111827;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  display: flex;
  align-items: center;
}

.gap-10{
  gap: 10px
}

.gap-16{
  gap: 16px
}

p{
  margin: 0;
  padding: 0;
  color: #ffffff;
}
